.xl-text {
  font-size: 75px;
}

.btn-outline-secondary {
  color: var(--bs-secondary);
}

.btn-outline-secondary {
  &:hover {
    color: #fff;
  }
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  background: #fff;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 992px) {
  .xl-text{
    font-size: 50px;
  }

  .navbar {
    btn-outline-secondary{
      margin-top: 20px;
    }
  }

  .header {
    margin-top: 0px !important;
    text-align: center;
  }

  .header .image-container {
    margin-top: 30px;
  }
}
